
.todo-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 2rem;
  width: 100%;
}
.todo-header h6 {
  font-size: 1rem;
  font-weight: 500;
  width: auto;
  margin: 0rem;
}
.todo-header h2 {
  text-align: center;
  width: 100%;
  margin: auto;
}

.new-todo-content form {
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 0.2rem;
}

.new-todo-content-text {
  width: 100%;
  border-radius: 0.2rem;}

.new-todo-content-text input:focus {
  outline: none;
  box-shadow:  4px 4px 6px rgb(51, 51, 51);
}
.new-todo-content input {
  height: 2rem;
  width: 100%;
  border-radius: 0.2rem;
  border: none;
}

.new-todo-content button {
  background-color: rgb(237, 237, 237);
  height: 2rem;
  width: 2rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 1.4rem;
}
.new-todo-content button:hover {
  cursor: pointer;
  background-color: rgb(198, 198, 198);
}

.todo-content-list {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.todo-content-list li {
  list-style: none;
  min-height: 2rem;
  height: auto;
  width: 100%;
  padding: 0.1rem;
  margin: 0.1rem 0rem;
  border-radius: 0.2rem;
  border-bottom: 2px solid #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.todo-content-list li .item-name {
  width: 100%;
  height: auto;
}
.todo-content-list li .item-name p {
  padding: 0.2rem;
}
.todo-content-list li .item-action {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  width: auto;
  min-width: 2rem;
  height: 3rem;
  border-radius: 0.2rem;
}
.todo-content-list li .item-action div {
  background-color: blueviolet;
  border-radius: 0.2rem;
  margin: 0rem 0.1rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.todo-content-list .item-action div button {
  background-color: rgb(237, 237, 237);
  border-radius: 0.2rem;
  border: none;
}
.todo-content-list .item-action div button:hover {
  cursor: pointer;
  background-color: rgb(198, 198, 198);
}
