* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  main {
    margin-top: 1rem;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-content {
    background-color: #284b63 ;
    color: white;
    padding: 1rem;
    width: 100%;
    margin: auto;
    height: auto;
    border-radius: 0.8rem;
    box-shadow: 4px 4px 16px #a5a5a5;
  }

  .error h5 {
    text-align: center;
    margin: 0.2rem;
    color: red;
  }