<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/app.css') }}" />
</head>

<body>
    <main>
        <div class="main-content">
            <header class="todo-header">
                <h6>Hello, {{ user.username }}</h6>
                <h2>TODO</h2>
            </header>
            <div class="new-todo-content">
                <div class="new-todo-content-text">
                    <input id="todo-input" type="text" value="" placeholder="Add new todo" />
                </div>
                <div class="new-todo-content-add">
                    <button id="todo-button" onclick="sendTodo()" disabled>Add</button>
                </div>
            </div>
            <div class="todo-content">
                {% if user.todos|length > 0 %}
                <ol class="todo-content-list">
                    {% for todo in user.todos %}
                    <li class="todo-content-item">
                        <div class="item-name">
                            <p>{{ todo.desc }}</p>
                        </div>
                        <div class="item-action">
                            <div class="item-action-edit"><button><a class="button-link"
                                        href="/edit/{{todo.id}}">Edit</a></button>
                            </div>
                            <div class="item-action-delete"><button
                                    onclick="deleteTodoByID('{{ todo.id }}')">Del</button></div>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
                {% else %}
                <div class="empty-todo">
                    <h4 style="text-align: center;margin: 0.2rem;margin-top: 1rem;">No todos</h4>
                </div>
                {% endif %}
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', path='js/app.js') }}"></script>
</body>

</html>