<!DOCTYPE html>
<html lang="en">

<head>
    <title>Todo</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/dashboard.css" />
</head>

<body>
    <main>
        <div class="main-content">
            <header class="todo-header">
                <h6>Hello, Rohan</h6>
                <h2>TODO</h2>
            </header>
            <div class="new-todo-content">
                <form action="/add" , method="POST">
                    <div class="new-todo-content-text">
                        <input type="text" , name="decs" value="" placeholder="Go for groceries" />
                    </div>
                    <div class="new-todo-content-add">
                        <button type="submit">+</button>
                    </div>
                </form>
            </div>
            <div class="todo-content">
                <ol class="todo-content-list">
                    <li class="todo-content-item">
                        <div class="item-name">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus nulla aliquam minima
                                natus
                                dignissimos fugiat et rerum amet, nobis iste eum magni quam ipsa ad exercitationem
                                praesentium sequi
                                reprehenderit sapiente? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Accusamus nulla
                                aliquam minima natus
                                dignissimos fugiat et rerum amet, nobis iste eum magni quam ipsa ad exercitationem
                                praesentium sequi
                                reprehenderit sapiente?</p>
                        </div>
                        <div class="item-action">
                            <div class="item-action-edit"><button>edit</button></div>
                            <div class="item-action-delete"><button>del</button></div>
                        </div>
                    </li>
                    <li class="todo-content-item">
                        <div class="item-name">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus nulla aliquam minima
                                natus
                                dignissimos fugiat et rerum amet, nobis iste eum magni quam ipsa ad exercitationem
                                praesentium sequi
                                reprehenderit sapiente? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Accusamus nulla
                                aliquam minima natus
                                dignissimos fugiat et rerum amet, nobis iste eum magni quam ipsa ad exercitationem
                                praesentium sequi
                                reprehenderit sapiente?</p>
                        </div>
                        <div class="item-action">
                            <div class="item-action-edit"><button>edit</button></div>
                            <div class="item-action-delete"><button>del</button></div>
                        </div>
                    </li>
                    <li class="todo-content-item">
                        <div class="item-name">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus nulla aliquam minima
                                natus
                                dignissimos fugiat et rerum amet, nobis iste eum magni quam ipsa ad exercitationem
                                praesentium sequi
                                reprehenderit sapiente? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Accusamus nulla
                                aliquam minima natus
                                dignissimos fugiat et rerum amet, nobis iste eum magni quam ipsa ad exercitationem
                                praesentium sequi
                                reprehenderit sapiente?</p>
                        </div>
                        <div class="item-action">
                            <div class="item-action-edit"><button>edit</button></div>
                            <div class="item-action-delete"><button>del</button></div>
                        </div>
                    </li>
                    <li class="todo-content-item">
                        <div class="item-name">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus nulla aliquam minima
                                natus
                                dignissimos fugiat et rerum amet, nobis iste eum magni quam ipsa ad exercitationem
                                praesentium sequi
                                reprehenderit sapiente? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Accusamus nulla
                                aliquam minima natus
                                dignissimos fugiat et rerum amet, nobis iste eum magni quam ipsa ad exercitationem
                                praesentium sequi
                                reprehenderit sapiente?</p>
                        </div>
                        <div class="item-action">
                            <div class="item-action-edit"><button>edit</button></div>
                            <div class="item-action-delete"><button>del</button></div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </main>
</body>

</html>