<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/edit.css') }}" />
</head>

<body>
    <main>
        <div class="main-content">
            <header class="login-header">
                <h2>Edit</h2>
            </header>
            <div class="todo-edit-content">
                <textarea name="todo-desc" id="todo-desc" rows="10" cols="20">{{ todo.desc}}</textarea>
                <div class="todo-edit-action">
                    <button onclick="editSave('{{ todo.id }}')">Save</button>
                    <button><a href="/">Cancel</a></button>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', path='js/edit.js') }}"></script>
</body>

</html>