<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}" />
</head>

<body>
  <main>
    <div class="main-content">
      <header class="login-header">
        <h2>LOGIN</h2>
      </header>
      <div class="login-form">
        {% if errors|length > 0 %}
        {% for error in errors %}
        <div class="error" style="text-align: center;color: red;margin: 0.2rem;">
          <h5>{{ error }}</h5>
        </div>
        {% endfor %}
        {% endif %}
        <form action="/login" method="POST" enctype="application/x-www-form-urlencoded">
          <div class="email">
            <label for="email">Email</label>
            <input class="form-input" type="text" value="" name="email">
          </div>
          <div class="password">
            <label for="password">Password</label>
            <input class="form-input" type="password" name="password" value="">
          </div>
          <div class="submit">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="other-action">
        <div>
          <a href="/signup">Signup</a>
        </div>
      </div>
    </div>
  </main>
</body>

</html>