<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TODO</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <main>
      <div class="main-content">
        <header class="todo-header">
          <h2>TODO</h2>
        </header>
        <div class="new-todo-content">
          <form action="/add" , method="POST">
            <div class="new-todo-content-text">
              <input type="text" , name="decs" />
            </div>
            <div class="new-todo-content-add">
              <button type="submit">+</button>
          </div>
          </form>
        </div>
        <div class="todo-content">
          <ol class="todo-content-list">
            <li class="todo-content-item">
              <div class="item-name">
              <p>Lorem ipsum</p>
            </div>
              <div class="item-action">
                <div class="item-action-edit"><button>edit</button></div>
                <div class="item-action-delete"><button>del</button></div>
              </div>
            </li>
            <li class="todo-content-item">
              <div class="item-name">
              <p>Lorem ipsum</p>
            </div>
              <div class="item-action">
              <div class="item-action-edit"><button>edit</button></div>
              <div class="item-action-delete"><button>del</button></div>
            </div>
            </li>
            <li class="todo-content-item">
              <div class="item-name">
              <p>Lorem ipsum</p>
            </div>
              <div class="item-action">
              <div class="item-action-edit"><button>edit</button></div>
              <div class="item-action-delete"><button>del</button></div>
            </div>
            </li>
            <li class="todo-content-item">
              <div class="item-name">
              <p>Lorem ipsum</p>
            </div>
              <div class="item-action">
              <div class="item-action-edit"><button>edit</button></div>
              <div class="item-action-delete"><button>del</button></div>
            </div>
            </li>
          </ol>
        </div>
      </div>
    </main>
  </body>
</html>
