<!DOCTYPE html>
<html lang="en">

<head>
  <title>TODO</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/signup.css" />
</head>

<body>
  <main>
    <div class="main-content">
      <header class="login-header">
        <h2>SIGN-UP</h2>
      </header>
      <div class="login-form">
        <form action="/login" method="POST">
          <div class="name">
            <label for="name">Name</label>
            <input class="form-input" type="text" value="" name="name">
          </div>
          <div class="email">
            <label for="email">Email</label>
            <input class="form-input" type="text" value="" name="email">
          </div>
          <div class="password">
            <label for="password">Password</label>
            <input class="form-input" type="password" name="password" value="">
          </div>
          <div class="submit">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="other-action">
        <div>
          <a href="/login">Login</a>
        </div>
      </div>
    </div>
  </main>
</body>

</html>